.about-us {
  background-color: #f4f4f4;
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  .ab-img {
    width: 200px;
    height: 200px;
  }
  .description {
    width: 600px;
  }
}
