.tools-offered {
  background-color: #ffffff;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  .tool-slot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
  }
  .example-image {
    height: 250px;
    width: 50%;
  }
  .about-tool {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #696969;
    font-size: 1.3em;
    width: 50%;
    height: 250px;
  }
}