@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  font-family: "Avenir";
}

.inner-goals-container {
  @include flexCenter(row);
  justify-content: space-evenly;
  height: 80%;
  width: 100%;

  @media all and (max-width: 1050px) {
    width: 100%;
  }

  .goal-div {
    width: 50%;
    height: 80%;

    @media all and (max-width: 1050px) {
      display: none;
    }
  }

  .overview-goal-text {
    @include flexCenter(column);
    justify-content: flex-start;
    align-items: flex-start;
    height: 85%;
    width: 55%;
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 2em;
    margin: 0em;

    @media all and (max-width: 1050px) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .goal-overall-title {
      font-size: 1.3em;
      color: rgb(116, 116, 116);
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    .snaps-goal {
      @include flexCenter(row);
      justify-content: flex-start;
      width: 100%;
      height: auto;

      @media all and (max-width: 1050px) {
        justify-content: center;
      }

      .goal-text {
        font-size: 1.1em;
        color: rgb(96, 96, 96);
        margin-right: 0.5em;
        margin-bottom: 0.5em;

        @media all and (max-width: 1050px) {
          font-size: 0.9em;
          margin-right: 0.5em;
          margin-bottom: 0.5em;
        }
      }

      .goal-amount {
        font-size: 1.2em;
        font-weight: bold;
        color: rgb(32, 152, 134);
        margin-bottom: 0.5em;
      }
    }
  }
}
