@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  font-family: "Avenir";
}

.userSetting-input-container {
  @include flexCenter(row);
  justify-content: flex-start;
  width: 100%;
  padding-left: 3em;
  padding-top: 0.5em;

  @media all and (max-width: 700px) {
    padding-left: 2em;
  }

  @media all and (max-width: 600px) {
    padding-left: 1.5em;
  }

  input.userSetting-input {
    width: 90%;
    height: 30px;
    background-color: rgb(209, 209, 209);
    border: none;
    padding-left: 10px;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline-color: rgb(113, 199, 187);
    outline-style: solid;
  }
}

.userSetting-delete-container {
  @include flexCenter(column);
  justify-content: center;
  padding: 3em;
  margin-top: 1em;

  .userSetting-delete-button {
    width: 50%;
    height: 30px;
    background: transparent;
    border: none;
    color: rgb(228, 106, 106);
    font-size: 1em;
    transition: 0.1s ease-in;
    &:hover {
      color: white;
      background-color: #ec314a;
      font-weight: bold;
    }
    @media all and (max-width: 700px) {
      width: 60%;
      font-size: 1.2em;
      margin-bottom: 1em;
    }
    @media all and (max-width: 620px) {
      width: 80%;
      font-size: 1.2em;
      margin-bottom: 1em;
    }

    @media all and (max-width: 550px) {
      width: 90%;
      font-size: 1.2em;
      margin-bottom: 1em;
    }
  }

  .delete-warning-text {
    padding: 1em;
    width: 80%;

    @media all and (max-width: 700px) {
      width: 90%;
    }

    @media all and (max-width: 500px) {
      width: 95%;
    }

    .warning-text {
      line-height: 1em;
      color: rgb(117, 117, 117);
      text-align: center;
      @media all and (max-width: 700px) {
        line-height: 1.4em;
      }
      @media all and (max-width: 500px) {
        text-align: left;
      }
    }
  }
}
