.userSetting-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Avenir";
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-left: 3em;
  padding-top: 0.5em;
}

@media all and (max-width: 700px) {
  .userSetting-input-container {
    padding-left: 2em;
  }
}

@media all and (max-width: 600px) {
  .userSetting-input-container {
    padding-left: 1.5em;
  }
}

.userSetting-input-container input.userSetting-input {
  width: 90%;
  height: 30px;
  background-color: #d1d1d1;
  border: none;
  padding-left: 10px;
}

.userSetting-input-container input:focus, .userSetting-input-container textarea:focus, .userSetting-input-container select:focus {
  outline-color: #71c7bb;
  outline-style: solid;
}

.userSetting-delete-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Avenir";
  justify-content: center;
  padding: 3em;
  margin-top: 1em;
}

.userSetting-delete-container .userSetting-delete-button {
  width: 50%;
  height: 30px;
  background: transparent;
  border: none;
  color: #e46a6a;
  font-size: 1em;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.userSetting-delete-container .userSetting-delete-button:hover {
  color: white;
  background-color: #EC314A;
  font-weight: bold;
}

@media all and (max-width: 700px) {
  .userSetting-delete-container .userSetting-delete-button {
    width: 60%;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
}

@media all and (max-width: 620px) {
  .userSetting-delete-container .userSetting-delete-button {
    width: 80%;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
}

@media all and (max-width: 550px) {
  .userSetting-delete-container .userSetting-delete-button {
    width: 90%;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
}

.userSetting-delete-container .delete-warning-text {
  padding: 1em;
  width: 80%;
}

@media all and (max-width: 700px) {
  .userSetting-delete-container .delete-warning-text {
    width: 90%;
  }
}

@media all and (max-width: 500px) {
  .userSetting-delete-container .delete-warning-text {
    width: 95%;
  }
}

.userSetting-delete-container .delete-warning-text .warning-text {
  line-height: 1em;
  color: #757575;
  text-align: center;
}

@media all and (max-width: 700px) {
  .userSetting-delete-container .delete-warning-text .warning-text {
    line-height: 1.4em;
  }
}

@media all and (max-width: 500px) {
  .userSetting-delete-container .delete-warning-text .warning-text {
    text-align: left;
  }
}
/*# sourceMappingURL=UserSettings.css.map */