$phone: 450px;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  font-family: "Avenir";
}

.login-container {
  @include flexCenter(column);
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  @media screen and (max-height: 723px) {
    height: 100%;
  }
  @media screen and (max-width: $phone) {
    width: 100vw;
  }
  // border: 1px solid red;
}

.login-center-div {
  @include flexCenter(column);
  // border: 1px solid red;
}

.login-main-div {
  @include flexCenter(column);
  width: 700px;
  @media screen and (max-width: 700px) {
    width: 100vw;
  }
}

.login-page-logo-div {
  @include flexCenter(row);
  width: 85%;
  height: 146px;
  padding: 10px;
  background-color: #20b2aa;
  // border: 1px solid red;
}

.pinch-logo {
  width: 70%;
  height: 100%;
  object-fit: contain;
  // border: 1px solid red;
}

.credentials-div {
  margin-top: 20px;
  width: 85%;
  padding: 30px;
  // border: 1px solid red;
  background-color: #d1e0de;
  display: flex;
  flex-direction: column;
  align-items: center;
  .credentials-title {
    font-size: 40px;
    color: #5d5d5d;
  }
  .login-form {
    @include flexCenter(column);
    width: 100%;
    position: relative;
    margin-top: 70px;
    @media screen and (max-height: 1000px) {
      margin-top: 10px;
    }
  }
  .login-input-title {
    font-size: 20px;
    width: 75%;
    justify-content: flex-start;
    color: #5d5d5d;
  }
  .login-input {
    width: 75%;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 18px;
    border: none;
    font-size: 20px;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      position: relative;
      font-size: 20px;
      font-style: italic;
      color: rgb(156, 156, 156);
      font-weight: lighter;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      position: relative;
      font-size: 20px;
      font-style: italic;
      font-weight: lighter;
      color: rgb(156, 156, 156);
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      position: relative;
      font-size: 20px;
      font-style: italic;
      font-weight: lighter;
      color: rgb(156, 156, 156);
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      position: relative;
      font-size: 20px;
      font-style: italic;
      color: rgb(156, 156, 156);
      font-weight: lighter;
    }
  }
  .remember-me {
    width: 75%;
    justify-content: flex-start;
    margin-bottom: 18px;
    color: #5d5d5d;
  }
  .remember-me-label {
    // margin-bottom: 0;
    @include flexCenter(row);
    justify-content: start;
  }
  .remember-me-chk {
    margin-right: 8px;
    width: 22px;
    height: 22px;
  }
  .sign-in-btn {
    width: 75%;
    padding: 12px;
    font-size: 25px;
    background-color: #20b2aa;
    color: white;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
    &:hover {
      background-color: #1c9993;
    }
  }
  .agreement {
    width: 60%;
    font-size: 12px;
    margin-bottom: 18px;
    text-align: center;
    color: #5d5d5d;
    font-style: italic;
  }
  .no-account {
    @include flexCenter(row);
    width: 70%;
    font-size: 25px;
    color: rgb(95, 95, 95);
    :nth-child(2) {
      text-decoration: underline;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

.rights-text-div {
  @include flexCenter(column);
  width: 100%;
  // border: 1px solid red;
  position: relative;
  bottom: 0;
  margin-bottom: 20px;
}

.rights-text {
  font-size: 13px;
  text-align: center;
  color: #5d5d5d;
}
