$phone: 450px;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  font-family: "Avenir";
}

.login-container {
  @include flexCenter(column);
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  @media screen and (max-width: 600px) {
    justify-content: flex-start;
    background-color: #d1e0de;
  }
  @media screen and (max-width: $phone) {
    width: 100vw;
  }
  // border: 1px solid red;
}

.empty-div {
  display: block;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.login-center-div {
  @include flexCenter(column);
  // border: 1px solid red;
}

.login-main-div {
  @include flexCenter(column);
  width: 700px;
  @media screen and (max-width: 700px) {
    width: 100vw;
  }
}

.login-page-logo-div {
  @include flexCenter(row);
  width: 85%;
  height: 146px;
  padding: 10px;
  background-color: #20b2aa;
  // border: 1px solid red;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.pinch-logo {
  width: 70%;
  height: 100%;
  object-fit: contain;
  // border: 1px solid red;
}

.credentials-div {
  margin-top: 20px;
  width: 85%;
  padding: 30px;
  // border: 1px solid red;
  background-color: #d1e0de;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-height: 723px) {
    margin-top: 0;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
    margin-top: 0;
  }
  @media screen and (max-width: 600px) {
    padding: 30px 0 30px 0;
  }
  .credentials-title {
    font-size: 40px;
    color: #5d5d5d;
  }
  .login-form {
    @include flexCenter(column);
    width: 100%;
    position: relative;
    margin-top: 70px;
    @media screen and (max-height: 1000px) {
      margin-top: 10px;
    }
  }
  .login-input-title {
    font-size: 20px;
    width: 75%;
    justify-content: flex-start;
    color: #5d5d5d;
    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }
  .login-input {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    margin-bottom: 18px;
    border: none;
    font-size: 20px;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      position: relative;
      font-size: 20px;
      font-style: italic;
      color: rgb(156, 156, 156);
      font-weight: lighter;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      position: relative;
      font-size: 20px;
      font-style: italic;
      font-weight: lighter;
      color: rgb(156, 156, 156);
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      position: relative;
      font-size: 20px;
      font-style: italic;
      font-weight: lighter;
      color: rgb(156, 156, 156);
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      position: relative;
      font-size: 20px;
      font-style: italic;
      color: rgb(156, 156, 156);
      font-weight: lighter;
    }
  }

  .input-container {
    width: 75%;
    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }

  .input-container[data-error]::after {
    content: attr(data-error);
    font-size: 15px;
    font-weight: bold;
    color: #da5560;
    display: block;
    position: absolute;
    margin-top: -19px;
    // margin-bottom: 6px;
  }

  .remember-me {
    width: 75%;
    justify-content: flex-start;
    margin-bottom: 18px;
    color: #5d5d5d;
    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }
  .remember-me-label {
    // margin-bottom: 0;
    @include flexCenter(row);
    justify-content: start;
  }
  .remember-me-chk {
    margin-right: 8px;
    width: 22px;
    height: 22px;
  }
  .sign-in-btn {
    width: 75%;
    padding: 12px;
    font-size: 25px;
    background-color: #20b2aa;
    color: white;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
    @media screen and (max-width: 600px) {
      transition: none;
      width: 90%;
    }
    &:hover {
      background-color: #1c9993;
    }
  }
  .agreement {
    width: 60%;
    font-size: 12px;
    margin-bottom: 18px;
    text-align: center;
    color: #5d5d5d;
    font-style: italic;
    @media screen and (max-width: 600px) {
      width: 80%;
    }
  }
  .no-account {
    @include flexCenter(row);
    width: 70%;
    font-size: 25px;
    color: rgb(95, 95, 95);
    text-align: center;
    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }
  .signup-link {
    margin-left: 7px;
    cursor: pointer;
  }
}

.rights-text-div {
  @include flexCenter(column);
  width: 100%;
  // border: 1px solid red;
  position: relative;
  bottom: 0;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    width: 90%;
    padding-top: 30px;
    border-top: 0.5px solid rgb(255, 255, 255);
  }
}

.rights-text {
  font-size: 13px;
  text-align: center;
  color: #5d5d5d;
}


.login-error-div {
  @include flexCenter(row);
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: auto;
  height: auto;
  padding: 1em;
  background-color: rgb(235, 102, 102);
  .login-error-message {
    font-size: 1.1em;
    color: rgb(237, 237, 237);
    text-align: center;
  }
  .alert-icon {
    font-size: 1.5em;
    margin-right: 0.5em;
    color: white;
  }
}