@mixin center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin button() {
  font-size: 18px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: rgb(228, 228, 228);
  &:hover {
    background-color: #dddddd;
  }
  cursor: pointer;
}

.bb-container {
  @include center(row);
  align-items: flex-start;
  width: 100vw;
  margin: 30px 0 30px;
  font-family: "Avenir";
}

.bb-mid-div {
  @include center(row);
  width: 1500px;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 1600px) {
    width: 95%;
  }
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.bb-left {
  width: 55%;
  height: 100%;
  @media screen and (max-width: 1000px) {
    width: 100%;
    margin-bottom: 20px;
  }
  .bb-tabs {
    @include center(row);
    justify-content: flex-start;
    width: 100%;
    position: relative;
    top: -1px;

    .bb-tab {
      @include center(row);
      justify-content: flex-start;
      width: 90px;
      padding: 10px;
      border: none;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: rgb(201, 201, 201);
      }
    }
    .bb-active-tab {
      font-weight: bold;
      background-color: #80e3dc;
      &:hover {
        background-color: #80e3dc;
      }
    }
  }
  .bb-budget-box {
    @include center(column);
    justify-content: flex-start;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    .bb-budget-div {
      width: 100%;
    }
    .bb-budget-top {
      @include center(row);
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid rgb(157, 157, 157);
      .bb-budget-top-left {
        @include center(column);
        align-items: flex-start;

        .bb-income {
          font-size: 20px;
          margin-bottom: 10px;
        }
        .bb-sort {
          width: 100%;
          height: 35px;
          margin-bottom: 20px;
          font-size: 18px;
          border-radius: 2px;
        }
      }
      .bb-budget-top-right {
        display: flex;
        flex-direction: row;
        margin: 20px;
        @media screen and (max-width: 631px) {
          flex-direction: column;
          margin: 0;
          align-items: flex-end;
        }
      }
      .bb-budget-edit-btn {
        @include button();
      }
      .bb-budget-delete-btn {
        margin-right: 15px;
        @include button();
        @media screen and (max-width: 631px) {
          margin-right: 0;
          padding: 8px;
        }
      }
      .bb-budget-cancel-btn {
        @include button();
        @media screen and (max-width: 631px) {
          margin: 10px 0 10px;
          padding: 8px;
        }
      }
    }
    .bb-budget-middle {
      @include center(column);
      width: 100%;
      .bb-budget-middle-row {
        @include center(row);
        width: 95%;
        justify-content: space-between;
        margin-bottom: 12px;
        .bb-budget-category {
          font-size: 24px;
        }
        .bb-budget-dollars {
          font-size: 24px;
        }
      }
      .bb-add-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        min-height: 500px;
        .bb-add-custom {
          margin-top: 10px;
        }
        .bb-buttons-div {
          display: flex;
          flex-direction: row;
        }
      }
    }
    .bb-budget-bottom {
      width: 95%;
      display: flex;
      flex-direction: column;
      font-size: 24px;
      padding-top: 10px;
      border-top: 1px solid rgb(157, 157, 157);
      .bb-budget-total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .bb-budget-difference {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .bb-budget-total-title {
        font-weight: bold;
      }
    }
  }
}

.bb-edit-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  .bb-add-custom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    .bb-delete-custom-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 3px;
      @include button();
      padding: 8px;
    }
  }
}
.bb-add-custom-btn {
  @include button();
}

.bb-submit-custom-btn {
  @include button();
  margin-right: 20px;
  background-color: #4fcec5;
  &:hover {
    background-color: #45b9b2;
  }
}

.bb-add-input-group {
  @include center(column);
  align-items: flex-start;
  margin: 0 20px 20px 0;
  flex-wrap: nowrap;
  @media screen and (max-width: 557px) {
    margin-right: 10px;
  }
  .bb-input-title {
    font-size: 20px;
  }
  #bb-input-amount {
    @media screen and (max-width: 589px) {
      margin-top: -20px;
    }
  }
  .bb-input-box {
    display: flex;
    align-items: center;
    max-width: 300px;
    background: #fff;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding-left: 0.5rem;
    overflow: hidden;
    font-family: sans-serif;
    &:focus-within {
      border-color: #777;
    }
  }
  .bb-prefix {
    font-weight: 300;
    font-size: 20px;
    color: #999;
  }
  .bb-input-field {
    flex-grow: 1;
    font-size: 20px;
    background: #fff;
    border: none;
    outline: none;
    padding: 0.5rem;
  }
}

.bb-input-box-income {
  display: flex;
  align-items: center;
  max-width: 200px;
  background: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  padding-left: 0.3rem;
  overflow: hidden;
  font-family: sans-serif;
  margin-bottom: 10px;
  &:focus-within {
    border-color: #777;
  }
}
.bb-prefix-income {
  font-weight: 200;
  font-size: 18px;
  color: #999;
}
.bb-input-field-income {
  flex-grow: 1;
  font-size: 18px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0.3rem;
}

// Chart side
.bb-right {
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 600px;
  height: 100%;
  .bb-chart-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .bb-chart {
    width: 100%;
    height: 600px;
  }
  .bb-chart-type {
    position: absolute;
    top: 0;
    right: 0;
  }
  .bb-chart-data {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
  }
  .bb-chart-new {
    position: absolute;
    top: 100px;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(53, 170, 164);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: default;
  }
  @media screen and (max-width: 1000px) {
    width: 100%;
    height: 600px;
  }
}

.bb-delete-icon {
  height: 25px;
  width: 25px;
}
