@import "../01.Homepage/Homepage.scss";
@import "../02.Signup/Signup.scss";
@import "../03.Login/Login.scss";
@import "../SharedComponents/01.Header/Header.scss";

body,
html {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
