.a-goal {
  height: 100px;
  width: 85%;
  border: 1px solid #696969;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .name-bar {
    width: 70%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-evenly;
    .status-bar-back {
      height:20px;
      width: 90%;
      background-color: white;
      border: 1px solid #696969;
      border-radius: 10px;
      .status-bar {
        height: 100%;
        border-radius: 10px;
      }
    }
  }
  .icons-edit-delete {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}