@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  font-family: "Avenir";
}

.header {
  background-color: #37b2aa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
  font-family: "Avenir";
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
    @include flexCenter(column);
    justify-content: space-evenly;
    align-items: center;
  }
  @media screen and (max-width: 450px) {
    width: 100%;
    @include flexCenter(column);
    justify-content: space-evenly;
    align-items: center;
  }
  .header-image {
    width: 60%;
    padding: 1em;
    @media screen and (max-width: 1000px) {
      width: 40%;
      padding: 0.5em;
    }
    @media screen and (max-width: 560px) {
      width: 30%;
      padding: 0;
    }
  }
  .header-logo {
    margin-left: 10px;
    width: 210px;
    height: 90px;
    @media screen and (max-width: 560px) {
      width: 100px;
      height: 45px;
    }
  }
  .header-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    align-items: center;
    margin-right: 30px;
    @media screen and (max-width: 1000px) {
      width: 35%;
      justify-content: space-evenly;
    }
    @media screen and (max-width: 800px) {
      width: 45%;
      justify-content: space-evenly;
    }
    @media screen and (max-width: 700px) {
      width: 55%;
      justify-content: space-evenly;
    }
    @media screen and (max-width: 600px) {
      width: 65%;
      justify-content: space-evenly;
    }
    @media screen and (max-width: 550px) {
      width: 80%;
      justify-content: space-evenly;
      margin-right: 0;
    }
    @media screen and (max-width: 450px) {
      width: 90%;
      justify-content: space-evenly;
      margin-right: 0;
    }
    .link {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 1.2em;
      transition: 0.1s ease-in;
      &:hover {
        color: #117973;
      }
    }
  }
}
