@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  font-family: "Avenir";
}

.subscriptions-outter-container {
  height: 100%;
  width: 100%;
  margin: 50px 0 50px;
  @include flexCenter(row);
  justify-content: center;

  .subscriptions-inner-container {
    @include flexCenter(row);
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 95%;

    @media all and (max-width: 2800px) {
      width: 80%;
    }

    @media all and (max-width: 1300px) {
      width: 95%;
    }

    @media all and (max-width: 750px) {
      @include flexCenter(column);
      justify-content: space-between;
      align-items: center;
      width: 95%;
    }


    .subscriptions-list-container {
      @include flexCenter(column);
      justify-content: flex-start;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      background-color: rgb(227, 227, 227);
      height: 100%;
      width: 38%;

      @media all and (max-width: 750px) {
        @include flexCenter(column);
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: 35%;
      }

      .list-header-container {
        @include flexCenter(row);
        justify-content: space-between;
        width: 95%;
        padding: 1em;

        .your-subscriptions-title {
          width: auto;
          padding: 0.4em;
          text-align: center;
          color: rgb(101, 101, 101);
          font-size: 1.3em;
        }

        .circle-icon {
          font-size: 1.5em;
          color:rgb(101, 101, 101);
        }
      }

      .subscriptions-list {
        height: 80%;
        width: 95%;
        padding: 1em;
        overflow: scroll;

        @media all and (max-width: 750px) {
          @include flexCenter(column);
          justify-content: flex-start;
          align-items: center;
          width: 90%;
          height: 45%;
          overflow: scroll;
        }

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgb(227, 227, 227);
        }

        &::-webkit-scrollbar-thumb {
          background-color: #36c2bb;
          outline: none;
        }

        ::-webkit-scrollbar-corner {
          background-color: transparent;
        }

        .sub-button-div {
          width: 100%;

          .sub-button {
            width: 100%;
            height: 80px;
            margin-bottom: 1.5em;
            font-size: 1.1em;
            color: black;
            background-color: white;
            box-shadow: 0px 4px 10px -1px rgba(169, 169, 169, 0.75);
            border: none;

            &:hover {
              background-color: #94e1dd;
              box-shadow: 0px 4px 10px -1px rgba(126, 126, 126, 0.75);
              font-size: 1.1em;
              font-weight: bold;
              color: white;
            }

            .sub-organizer {
              @include flexCenter(row);
              justify-content: flex-start;
              align-items: center;
              width: 100%;

              .sub-title {
                font-size: 1.1em;

                &:hover {
                  font-size: 1.1em;
                  font-weight: bold;
                  color: white;
                }
              }

              .logo-container {
                object-fit: contain;
                width: 30%;
                margin-right: 2em;
              };
            }
          }
        }
      }
    }

    img.logo {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }

    img.bigger-logo {
      object-fit: contain;
      @media all and (max-width: 750px) {
        height: 50px;
        width: 50px;
      }
    }

    .subscriptions-graph-container {
      width: 60%;
      height: 650px;
      border: none;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      @include flexCenter(column);
      justify-content: flex-start;
      align-items: center;

      @media all and (max-width: 750px) {
        width: 95%;
        height: 60%;
        margin-top: 1.5em;
      }

      .current-sub-box {
        @include flexCenter(column);
        justify-content: center;
        width: 100%;
        height: 20%;
        margin-top: 1em;

        @media all and (max-width: 750px) {
          height: 10%;
        }

        .current-sub-section {
          @include flexCenter(row);
          justify-content: flex-start;
          align-items: center;
          width: 95%;
          padding: 0.5em;

          .bigger-logo-container {
            width: 35%;
            height: 40%;
            @include flexCenter(column);
            justify-content: center;
            margin-right: 3em;

            @media all and (max-width: 750px) {
              width: 25%;
            }
          }

          .current-sub-title {
            font-size: 1.6em;
            font-weight: bold;
            color: rgb(87, 87, 87);

            @media all and (max-width: 750px) {
              font-size: 1.1em;
              width: 45%;
              @include flexCenter(column);
              justify-content: flex-start;
            }

            .mini-title {
              font-size: 0.8em;
              font-weight: lighter;
              color: rgb(143, 143, 143);

              @media all and (max-width: 750px) {
                margin-left: 0.3em;
                font-size: 0.5em;
              }
            }
          }
        }

        .current-sub-title-choose {
          font-size: 2.1em;
          font-weight: bold;
          color: rgb(21, 136, 138);
          width: 60%;
          text-align: center;
          border: 1px solid rgb(165, 165, 165);
          border-radius: 10px;

          @media all and (max-width: 750px) {
            width: 80%;
            font-size: 1.5em;
          }

          .current-sub-title-choose-icon {
            font-size: 0.8em;
            color: rgb(21, 136, 138);
            margin-right: 1em;
          }
        }
      }

      .graph-container {
        width: 100%;
        // height: 70%;
        margin-top: 1em;
        padding: 1em;
        @include flexCenter(row);
        justify-content: center;

        @media all and (max-width: 750px) {
          padding: 0em;
        }

        .recharts-responsive-container {
          width: 100%;
          height: 100%;

          @media all and (max-width: 750px) {
            width: 85%;
            height: 100%;
          }
        }
      }
    }

  }
}
