
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  font-family: "Avenir";
}

.password-modal-container {
  @include flexCenter(column);
  position: absolute;
  // z-index: 2;
  height: 150px;
  width: 240px;
  border-radius: 6px;
  box-shadow: 6px 7px 14px -2px rgb(161, 161, 161);
  top: 70px;
  right: 5px;
}

.password-modal-contents {
  @include flexCenter(column);
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5px;
  padding-left: 6px;
  padding: 5px 5px 5px 7px;
  width: 100%;
  height: 100%;
  background-color: white;
}

.most-contain {
  font-weight: bold;
  font-size: 13px;
  color: #20b2aa;
  text-align: center;
}

.constraints {
  list-style-type: none;
  font-size: 13px;
  font-weight: bold;
}

.line {
  width: 100%;
  height: 2px;
}

.progress {
  width: 100%;
  border-radius: 6px;
  background-color: rgb(226, 224, 224);
}

.password-strength-container {
  @include flexCenter(row);
  width: 100%;
  justify-content: space-between;
}

.password-strength-label {
  font-size: 11px;
  text-align: left;
  font-weight: bolder;
  color: #5d5d5d;
}

.password-strength {
  font-size: 11px;
  text-align: right;
  font-weight: bolder;
  color: #5d5d5d;
}